<div class="about">
<navbar1></navbar1>
<div class="container">
    <div>
        <h1 class="animated shake">About Inphinity</h1>
    </div>
    <div>
        <p>Inphinity Consulting is an entertainment company that believes that every client has the potential to be great. If they believe then we believe, it just that simple. Whether you want your own brand or you just want to get your music out there, we will show you how to do get your work out there for the world to see and give you the right tool to make it happen </p>
    </div>
</div>
</div>