<div class="container-fluid">
<navbar1></navbar1>
<div class="jumbotron home-page">
 
  
   <h2 class="animated flipInX">InphinityN1 Consulting</h2>
    <p class="animated flipInX">We take Entertainement Seriously</p>
</div>
<div class="container-fluid">
    <div class="row cat">
       <div class="col-md-4">      
          <h3>Music</h3>
           <a ui-sref="music"> <img class="img-circle img-thumbnail" src="./media/guitar-1031192_1920.jpg" alt="music"></a>           
               <p>Music is our specialty <span class="music">check out out packages!</span></p>
               </div>
           
       
       <div class="col-md-4">
           <h3>Modeling</h3>
           <a ui-sref="modeling"> <img class="img-circle img-thumbnail" src="./media/photographer-234907_1280.jpg" alt="modeling"></a>
           <p>Modeling is a $10 million industry and we know how to get you in it!</p>
       </div>
       <div class="col-md-4">
           <h3>Brand Marketing</h3>
           <a ui-sref="brand-marketing"> <img class="img-circle img-thumbnail" src="./media/mercedes-1568085_1920.jpg" alt="Brand Marketing"></a>
           <p>We can get your brand to market!</p>
       </div> 
    </div>
</div>
</div>