<div class="container-fluid">
<navbar1></navbar1>
<div class="modeling-page jumbotron">
   <div class="jumbo-words">
    <h2 class="animated shake">Modeling</h2>
    <blockquote>“One thing modeling taught me is that the spotlight can change everything.” 
</blockquote>
    <p>-Liya Kebede</p>
</div>
</div>
<div class="container content">
    <p>If the spot light is where you want to be, then we will help you get the cameras flashing <span>Give us a call for packages and pricing</span>.</p>
</div>
</div>